@import "tailwindcss";

@theme {
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-success: #22C55E;
  --color-info: #3B82F6;
  --color-rerouted: #8B5CF6;

  --color-bg-primary: #0F172A;
  --color-bg-secondary: #1E293B;
  --color-bg-card: #334155;
  --color-text-primary: #F8FAFC;
  --color-text-secondary: #94A3B8;
  --color-border: #475569;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* Leaflet popup dark theme override */
.leaflet-popup-content-wrapper {
  background: #1E293B !important;
  color: #F8FAFC !important;
  border-radius: 8px !important;
}
.leaflet-popup-tip {
  background: #1E293B !important;
}
